<h1>Add a new client</h1>

<form method="post" action="/clients">
  <label for="client_name">Client Name:</label>
  <input type="text" name="client[name]" id="client_name">
  <br>
  <label for="client_age">Client Age:</label>
  <input type="text" name="client[age]" id="client_age">
  <br>
  <label for="client_notes">Notes:</label>
  <textarea rows="4" cols="4"></textarea>
  <br>
  <input type="submit" value="Add New Client">
</form>
