<h1>Add a new client</h1>

<form method="post" action="/clients">
  <label for="client_full_name">Client Name: </label>
  <input type="text" name="client[full_name]" id="client_full_name">
  <br><br>
  <label for="client_age">Client Age: </label>
  <input type="text" name="client[age]" id="client_age">
  <br><br>
  <label for="client_notes">Notes: </label>
  <textarea rows="4" cols="23"></textarea>
  <br><br>
  <input type="submit" value="Add New Client">
</form>
