<h1>Client</h1>
<%= @client.full_name %>
<%= @client.age %>
<%= @client.notes %>

<form action="/clients/<%= @client.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Client">
</form>
