<h1>Private Etiquette Courses</h1>
<ul>
  <% @courses.each do |course| %>
  <li>
    <p>Course date: <%= course.date %></p>
    <p>Course number of hours: <%= course.num_of_hours %></p>
    <p>Course status:
      <% if course.status == confirmed %>
      Date confirmed
      <% elsif couse.status == paid%>
      Paid
      <% elsif course.status == booked %>
      Filled out booking form
      <% elsif course.status == emailed %>
      Sent confirmation email
      <else>
      Completed
      <% end %></p>
    </li>
  <% end %>
</ul>
