<h1>Private Etiquette Courses</h1>
<ul>
  <% @courses.each do |course| %>
  <li>
    <p>Course name: <%= course.name %></p>
    <p>Course date: <%= course.date %></p>
    <p>Course number of hours: <%= course.num_of_hours %></p>
    <p>Course status: <%= course.status %>
  </li>
  <% end %>
</ul>

<h3><a href="/courses/new">Add a new course</a></h3>
