<h1>Add a new course</h1>

<form method="POST" action="/courses">
  <label>Course Name: </label>
  <input type="text" name="name">
  <br><br>
  <label>Course Date: </label>
  <input type="date" name="date">
  <br><br>
  <label>Number of Hours: </label>
  <input type="number" name="num_of_hours">
  <br><br>
  <label>Status: </label>
  <input type="text" name="status">
  <br><br>
  <input type="submit" value="Add New Course">
</form>
