<h1>The Best Etiquette School</h1>

<div>
  <h2>Modern etiquette consultancy for social, business, and dining protocol</h2>
</div>

<div>
  <h3>User Log In: <a href="/login">Log In</a></h3>
  <h3>New Team Member? Sign Up Here: <a href="/signup">Sign Up</a></h3>
</div>
